body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */

}
#busyindicator {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.view {
  display: none;
}
.thumbnail img {
  width: 120px;
  height: 90px;
}
.thumbnails {
  margin-bottom: 5px;
}
.thumbnails .caption h3 {
  padding-left: 10px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
